.project {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &-heading {
    margin-bottom: 10px;
  }

  &-description {
    width: 90%;
    word-break: break-all;
    color: #ccc;
    padding: 5px 0;
  }

  &-rightside {
    display: flex;
    align-items: flex-end;
  }
}
